.message-item {
  border: 1px solid #cccccc;
  padding: 6px;
  .message-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 6px 0;
  }
  .message-author {
    font-weight: bold;
  }
  .message-time {
    font-size: smaller;
  }
}
